<div class="card mx-auto text-center border-ligth" style="width: 18rem;">
    <img src="assets/angular.png" class="card-imp-top" alt="Angular Logo">
    <div class="card-body">
        <h5 class="card-title"> Mi Blog</h5>
        <p class="card-text">
            Un blog personal creado con Angular y el generador de sitios estaticos Scully
        </p>
        <a href="https://angular.io" target="_blank" class="card-link">Angular</a>
        <a href="https://scrylly.io" target="_blank" class="card-link">Scully</a>
    </div>
</div>
