<div class="card mx-auto text-center border-light" style="width: 18rem">
    <img src="assets/angular.png" class="card-img-top" alt="Angular logo">
    <div class="card-body">
        <h5 class="card-title">Mi blog</h5>
        <p class="card-text">
            Un blog personal creado con Angular y el generador de sitios estaticos de Scully
        </p>
        <a href="https://angular.io/" target="_blank" class="card-link">Angular</a>
        <a href="https://scully.io/" target="_blank" class="card-link">Scully</a>
    </div>
</div>
